<h2 class="px-8 mx-auto max-w-[1440px] self-start text-[2rem] md:text-[2.5rem] font-bold text-[#333]">Encuéntranos</h2>
<div class="flex flex-col gap-y-8 pt-16 bg-ivory-500">
  <div class="w-full overflow-hidden shadow-sm">
    <iframe
      title="Ubicación de Nutrióloga Andrea Guerrero en Mexicali, Baja California"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q=Nutrióloga+Andrea+Guerrero,Mexicali,Baja+California"
      class="w-full h-[300px] md:h-[800px] border-0"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
