---
---
<nav transition:animate="slide" class="nav-links">
    <a href="#home">Home</a>
    <a href="#about">Acerca de mi</a>
    <a href="#reviews">Que dicen mis pacientes de mi?</a>
    <a href="#services" >Como te puedo ayudar?</a>
    <a href="#address" >Dónde me encuentro?</a>
</nav>

<style>
    .nav-links {
        background-color: var(--white);
        padding-top: 1.5rem;
        position: sticky;
        top: 0;
        height: 4rem;
    }
</style>