---
interface Props {
    name: string;
    content: string;
}

const { name, content } = Astro.props;
---

<li class="link-card list-none p-2 rounded-[7px] ring-1 ring-inset ring-white/10 border border-slate-300 shadow-sm mb-4 max-h-[200px]">
    <h2 class="m-0 text-xl">
        {name}
    </h2>
    <blockquote class="mt-2 mb-0 line-clamp-6 italic">
        "{content}""
    </blockquote>
</li>
<style>
    .link-card {
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    h2 {
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
</style>
